
**/bin/
**/obj/
# User-specific files
*.user
*.suo
*.DS_Store

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/



# Visual Studio files
.vs/
.vscode/

# NuGet packages
*.nupkg
*.snupkg
packages/
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

# Rider settings
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.log
*.tlog
*.cache
*.pdb
*.dbmdl
*.dbproj.schemaview
*.bak
*.sql
*.mdf
*.ldf
*.publish.xml.DS_Store
